* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

textarea:focus, input:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
}

body {
  font-size: 18px;
  height: 100%;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Poppins;
}

body p {
  font-family: Open Sans;
}

body .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body .wrap.stickyMenu {
  position: fixed;
  opacity: 0;
  z-index: 9999;
  height: 90px;
  left: -1px;
  top: 0px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(400px);
          backdrop-filter: blur(400px);
  -webkit-transition: .3s;
  transition: .3s;
}

body .wrap.stickyMenu.active {
  opacity: 1;
}

body .wrap.stickyMenu .row {
  width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap.stickyMenu .row a {
  display: block;
  width: 35%;
  line-height: 90px;
  grow: 3;
  text-decoration: none;
  margin-top: 2px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #040254;
}

body .wrap.stickyMenu .row img {
  max-width: 160px;
  grow: 1;
}

body .wrap.stickyMenu .row div.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .wrap.stickyMenu .row div.socials a {
  margin-left: 18px;
}

body .wrap.stickyMenu .row button {
  grow: 1;
  padding: 0 18px;
  height: 65px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  background: radial-gradient(50% 50% at 50% 50%, rgba(50, 58, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #040254;
  border-radius: 8.14201px;
  color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

body .wrap.stickyMenu .row button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

body .wrap section.row {
  width: 1060px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap section.row p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #040254;
  opacity: 0.7;
}

body .wrap section.first-section {
  overflow: hidden;
}

body .wrap section.first-section img {
  margin: 0 auto;
  display: block;
  margin-top: 76px;
}

body .wrap section.first-section img.long-shadow {
  -webkit-box-shadow: 0px 30px 60px rgba(50, 58, 255, 0.19);
          box-shadow: 0px 30px 60px rgba(50, 58, 255, 0.19);
  margin-bottom: 76px;
}

body .wrap section.first-section p {
  width: 50%;
  font-family: Open Sans;
  text-align: center;
  margin-top: 29px;
}

body .wrap section.first-section button {
  width: 37.5%;
  height: 65px;
  margin-top: 47px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(50, 58, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #040254;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 30px 60px rgba(50, 58, 255, 0.19);
          box-shadow: 0px 30px 60px rgba(50, 58, 255, 0.19);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .wrap section.first-section button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body .wrap section.frow {
  width: 1060px;
  margin: 0 auto;
  padding: 76px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

body .wrap section.frow div {
  width: 42.5%;
}

body .wrap section.frow div h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.03em;
  color: #040254;
}

body .wrap section.frow div p {
  margin-top: 29px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #040254;
  opacity: 0.7;
}

body .wrap section.frow.security {
  padding: 123px 0;
}

body .wrap.shady-blue {
  background: #F4F5FF;
  position: relative;
  z-index: -9;
  margin-top: -317px;
  margin-bottom: 123px;
  padding: 317px 0 123px 0;
}

body .wrap.shady-blue h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #040254;
}

body .wrap.shady-blue p {
  width: 71.4%;
  margin-top: 29px;
  text-align: center;
}

body .wrap.shady-blue p span {
  display: inline-block;
  margin-top: 18px;
  font-weight: 600;
  font-family: Poppins;
}

body .wrap.light-blue {
  margin-top: 123px;
  background: #F4F5FF;
  padding: 123px 0;
  position: relative;
  overflow: visible;
  z-index: 0;
}

body .wrap.light-blue h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.03em;
  color: #040254;
}

body .wrap.light-blue .icons {
  width: 100%;
  margin-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrap.light-blue .icons .single-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrap.light-blue .icons .circle {
  width: 140px;
  height: 140px;
  border-radius: 140px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(50, 58, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #F9F9FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

body .wrap.light-blue .icons h5 {
  display: inline-block;
  width: 100%;
  margin-top: 18px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #040254;
}

body .wrap.navy-blue {
  background: radial-gradient(50% 50% at 50% 50%, rgba(50, 58, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #040254;
  padding: 123px 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

body .wrap.navy-blue .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

body .wrap.navy-blue .row h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #E1E1E1;
}

body .wrap.navy-blue .row p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  margin-top: 29px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #A2A2C0;
}

body .wrap.navy-blue .row p a {
  text-decoration: none;
  color: #fff;
}

body .wrap.navy-blue .row form {
  width: 85%;
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

body .wrap.navy-blue .row form input {
  width: 50%;
  height: 65px;
  padding: 0 25px;
  margin-right: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #A2A2C0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}

body .wrap.navy-blue .row form input:focus::-webkit-input-placeholder {
  color: #fff;
  border: none;
}

body .wrap.navy-blue .row form input:focus:-ms-input-placeholder {
  color: #fff;
  border: none;
}

body .wrap.navy-blue .row form input:focus::-ms-input-placeholder {
  color: #fff;
  border: none;
}

body .wrap.navy-blue .row form input:focus::placeholder {
  color: #fff;
  border: none;
}

body .wrap.navy-blue .row form::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

body .wrap.navy-blue .row form:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

body .wrap.navy-blue .row form::-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

body .wrap.navy-blue .row form::placeholder {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

body .wrap.navy-blue .row form button {
  height: 65px;
  width: 33%;
  background: linear-gradient(122.59deg, #8E2DE2 9.89%, #323AFF 90.74%);
  -webkit-box-shadow: 0px 40px 75px rgba(50, 58, 255, 0.19);
          box-shadow: 0px 40px 75px rgba(50, 58, 255, 0.19);
  border: none;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .wrap.navy-blue .row form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body footer {
  width: 100%;
}

body footer .frow {
  width: 1060px;
  margin: 0 auto;
  padding: 47px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

body footer .frow .logo-area {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 21%;
}

body footer .frow .logo-area img {
  width: 190px;
  margin-top: 5px;
  margin-left: 29px;
}

body footer .frow .terms {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}

body footer .frow .terms p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #A2A2C0;
}

body footer .frow .terms p span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #323AFF;
}

body footer .frow .terms p span a {
  text-decoration: none;
}

body footer .frow .socials {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body footer .frow .socials img {
  margin-right: 29px;
  cursor: pointer;
}

body footer .frow .socials:nth-last-of-type {
  margin-right: 0;
}

@media (max-width: 1080px) {
  body .wrap {
    width: 100%;
  }
  body .wrap.stickyMenu .row {
    width: 992px;
  }
  body .wrap section.row {
    width: 992px;
  }
  body .wrap section.frow {
    width: 992px;
  }
  body footer {
    width: 100%;
  }
  body footer .frow {
    width: 992px;
  }
}

@media (max-width: 991.98px) {
  body .wrap.stickyMenu .row {
    width: 768px;
  }
  body .wrap.stickyMenu .row button {
    grow: 3;
  }
  body .wrap.stickyMenu .row img {
    margin-left: 25px;
  }
  body .wrap.stickyMenu .row a {
    display: none;
  }
  body .wrap.stickyMenu .row a img {
    display: none;
  }
  body .wrap section.row {
    width: 768px;
  }
  body .wrap section.frow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 47px 0;
    width: 768px;
  }
  body .wrap section.frow div {
    width: 85%;
    text-align: center;
  }
  body .wrap section.frow h3 {
    margin-top: 29px;
  }
  body .wrap section.first-section img {
    width: 80%;
  }
  body .wrap section.clmn-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .wrap.shady-blue {
    background: #F4F5FF;
    margin-bottom: 76px;
  }
  body .wrap.light-blue {
    margin-top: 76px;
    width: 100%;
  }
  body footer {
    width: 100%;
  }
  body footer .frow {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .frow .logo-area {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    width: 21%;
  }
  body footer .frow .logo-area img {
    width: 190px;
    margin-top: 0;
    margin-left: 0;
    margin: 29px 0;
  }
  body footer .frow p {
    text-align: center;
    max-width: 80%;
    margin: 18px auto;
  }
  body footer .frow .socials img {
    margin: 29px;
  }
}

@media (max-width: 575.98px) {
  body .wrap.stickyMenu .row {
    width: 100%;
  }
  body .wrap.stickyMenu .row button {
    width: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .wrap.stickyMenu .row img {
    width: 30%;
  }
  body .wrap.stickyMenu .row a {
    display: none;
  }
  body .wrap.stickyMenu .row a img {
    display: none;
  }
  body .wrap .shape3 {
    top: 35%;
  }
  body .wrap section.row {
    width: 100%;
  }
  body .wrap section.frow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 47px 0;
    width: 100%;
  }
  body .wrap section.frow div {
    width: 85%;
    text-align: center;
  }
  body .wrap section.frow div img {
    width: 90%;
  }
  body .wrap section.frow h3 {
    margin-top: 29px;
  }
  body .wrap section.first-section p {
    width: 75%;
  }
  body .wrap section.first-section button {
    width: 90%;
  }
  body .wrap section.first-section img {
    width: 80%;
  }
  body .wrap section.first-section img.long-shadow {
    margin-bottom: 47px;
  }
  body .wrap section.clmn-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .wrap.shady-blue {
    background: #F4F5FF;
    margin-top: -92px;
    padding: 215px 0 123px 0;
    margin-bottom: 76px;
  }
  body .wrap.shady-blue h2 {
    font-size: 38px;
  }
  body .wrap.shady-blue p {
    width: 80%;
  }
  body .wrap.light-blue {
    margin-top: 76px;
    width: 100%;
  }
  body .wrap.light-blue .row h3 {
    width: 80%;
    text-align: center;
  }
  body .wrap.light-blue .row .icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .wrap.light-blue .row .icons .signle-box {
    margin-top: 18px;
  }
  body .wrap.navy-blue .row h2 {
    font-size: 38px;
  }
  body .wrap.navy-blue .row p {
    width: 80%;
  }
  body .wrap.navy-blue .row form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  body .wrap.navy-blue .row form input {
    width: 100%;
  }
  body .wrap.navy-blue .row form button {
    margin-top: 18px;
    width: 100%;
  }
  body footer {
    width: 100%;
  }
  body footer .frow {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .frow .logo-area {
    width: 100%;
  }
  body footer .frow .logo-area img {
    width: 190px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin: 29px auto;
  }
  body footer .frow .logo-area p {
    text-align: center;
    max-width: 80%;
    margin: 18px auto;
  }
  body footer .frow .logo-area .socials img {
    margin: 29px;
  }
}

body .wrap {
  position: relative;
  overflow-x: hidden;
}

body .wrap .shape {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFD7DD;
  -webkit-animation: morph 8s ease-in-out infinite;
          animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 600px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 600px;
  z-index: -5;
  opacity: 1;
}

body footer {
  position: relative;
  overflow: hidden;
}

body .shape2 {
  margin: 0 auto;
  position: absolute;
  top: 150px;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #ACAFFF;
  -webkit-animation: morph 8s ease-in-out infinite;
          animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 500px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 500px;
  z-index: -5;
  opacity: 1;
}

body .shape5 {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #040254;
  -webkit-animation: morph 4s ease-in-out infinite;
          animation: morph 4s ease-in-out infinite;
  border-radius: 20% 80% 30% 70% / 60% 30% 70% 40%;
  height: 700px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 1000px;
  z-index: -1;
  opacity: 1;
}

body .shape6 {
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #CEF5E5;
  -webkit-animation: morph 4s ease-in-out infinite;
          animation: morph 4s ease-in-out infinite;
  border-radius: 20% 80% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 600px;
  z-index: -1;
  opacity: 1;
}

body .shape3 {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background-color: #FFCB7C;
  -webkit-animation: morph 8s ease-in-out infinite;
          animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 250px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 400px;
  z-index: -5;
  opacity: 1;
}

body .shape4 {
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  right: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background-color: #FFD7DD;
  -webkit-animation: morph 8s ease-in-out infinite;
          animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 350px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 500px;
  z-index: -1;
  opacity: 1;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
/*# sourceMappingURL=style.css.map */